In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1228,tt1535109,55000000,95000000,Captain Phillips,Tom Hanks|Catherine Keener|Max Martini|Chris M...,Paul Greengrass,Out here survival is everything.,The true story of Captain Richard Phillips and...,134,Action|Drama|Thriller,Columbia Pictures,10/10/2013,7.7,2013
568,tt0246989,11000000,23430766,Tomcats,Jerry O'Connell|Shannon Elizabeth|Jake Busey|H...,Gregory Poirier,The Last Man Standing Gets The Kitty.,College buddies chip in and promise that the g...,95,Comedy|Romance,Columbia Pictures|Revolution Studios,3/30/2001,4.8,2001
1407,tt0379725,7000000,49084830,Capote,Philip Seymour Hoffman|Allie Mickelson|Craig A...,Bennett Miller,In Cold Blood,"A biopic of the writer, Truman Capote and his ...",114,Crime|Drama,Sony Pictures Classics|Cooper's Town Productio...,9/30/2005,6.7,2005
1613,tt0371246,80000000,55041367,Spanglish,Adam Sandler|TÃ©a Leoni|Paz Vega|Cloris Leachm...,James L. Brooks,Every family has a hero.,Mexican immigrant and single mother Flor Moren...,130,Comedy,Gracie Films|Columbia Pictures Corporation,12/17/2004,5.6,2004
102,tt3722070,6000000,41387687,The Lady in the Van,Maggie Smith|Alex Jennings|Frances de la Tour|...,Nicholas Hytner,A mostly true story,The true story of the relationship between Ala...,104,Comedy|Drama,BBC Films|TriStar Productions,11/13/2015,5.9,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data["profit"] = data["revenue"] - data["budget"]
data["month"] = data["release_date"].apply(lambda x: str(x).split("/")[0])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data["budget"] == data["budget"].max()]["original_title"].tolist()[0]
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [8]:
answers['2'] = data[data["runtime"] == data["runtime"].max()]["original_title"].tolist()[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = data[data["runtime"] == data["runtime"].min()]["original_title"].tolist()[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = data["runtime"].mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = data["runtime"].median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data["profit"] == data["profit"].max()]["original_title"].tolist()[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = data[data["profit"] == data["profit"].min()]["original_title"].tolist()[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = data[data["profit"] > 0]["original_title"].count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
data2 = data.copy()

data2 = data2[data2["release_year"] == 2008]
answers['9'] = data2[data2["profit"] == data2["profit"].max()]["original_title"].tolist()[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
data2 = data.copy()

data2 = data2[data2['release_year'].isin(['2012', '2013', '2014'])]
answers['10'] = data2[data2["profit"] == data2["profit"].min()]["original_title"].tolist()[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data2 = data.copy()
data2["genres"] = data2["genres"].apply(lambda x: str(x).split("|"))

data3 = data2["genres"].apply(pd.Series).stack().reset_index(level=1, drop=True).to_frame("genres")
data3['id'] = [i for i in range(1, len(data3["genres"])+1)]
data3 = data3.groupby("genres").count()

answers['11'] = data3[data3["id"] == data3["id"].max()]["id"]
answers['11']

genres
Drama    782
Name: id, dtype: int64

ВАРИАНТ 2

In [18]:
data2 = data.copy()

data2 = data2["genres"].str.cat(sep="|").split("|")

answers['11'] = pd.Series(data2).value_counts()
answers['11']

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
data2 = data.copy()

data2 = data2[data["profit"]>0]

answers['12'] = pd.Series(data2["genres"].str.cat(sep="|").split("|")).value_counts()
answers['12']

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
data2 = data.copy()

data2["director"] = data2["director"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("director")

data2 = data2.groupby("director", as_index=False)["profit"].sum()

answers['13'] = data2[data2["profit"] == data2["profit"].max()]
answers['13']

          director      profit
727  Peter Jackson  5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
data2 = data.copy()

data2["genres"] = data2["genres"].apply(lambda x: str(x).split("|"))
data2["director"] = data2["director"].apply(lambda x: str(x).split("|"))
data3 = data2.explode("director")
data3 = data3.explode("genres")

actions = data3[data3["genres"] == "Action"]
actions = actions.groupby("director", as_index=False)["genres"].count()

answers['14'] = actions[actions["genres"] == actions["genres"].max()]
answers['14']

             director  genres
296  Robert Rodriguez       9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
data2 = data.copy()

data2 = data2[data2["release_year"] == 2012]
data2["cast"] = data2["cast"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("cast")

actors = data2.groupby("cast", as_index=False)["profit"].sum()

answers['15'] = actors[actors["profit"] == actors["profit"].max()]
answers['15']

               cast      profit
77  Chris Hemsworth  1542450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
data2 = data.copy()

data2["cast"] = data2["cast"].apply(lambda x: str(x).split("|"))
data3 = data2.explode("cast")

answers['16'] = data3[data3["budget"] > data3["budget"].mean()]["cast"].value_counts()
answers['16']

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Art Parkinson      1
Dylan Minnette     1
Oliver Reed        1
Rebecca Hall       1
Andy Buckley       1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
data2 = data.copy()

data2["genres"] = data2["genres"].apply(lambda x: str(x).split("|"))
data2["cast"] = data2["cast"].apply(lambda x: str(x).split("|"))
data3 = data2.explode("cast")
data3 = data3.explode("genres")

data3 = data3[data3["cast"] == "Nicolas Cage"]

answers['17'] = data3["genres"].value_counts()
answers['17']

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
data2 = data.copy()

data2["production_companies"] = data2["production_companies"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("production_companies")
data2 = data2[data2["production_companies"] == "Paramount Pictures"]

answers['18'] = data2[data2["profit"] == data2["profit"].min()]
answers['18']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
data2 = data.copy()

data2 = data2.groupby("release_year", as_index=False)["profit"].sum()

answers['19'] = data2[data2["profit"] == data2["profit"].max()]
answers['19']

    release_year       profit
15          2015  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
data2 = data.copy()

data2["production_companies"] = data2["production_companies"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("production_companies")
data2 = data2[data2["production_companies"].str.contains("Warner Bros")]

data2 = data2.groupby("release_year", as_index=False)["profit"].sum()

answers['20'] = data2[data2["profit"] == data2["profit"].max()]
answers['20']

    release_year      profit
14          2014  2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
data2 = data.copy()
  
data2 = data2.groupby("month", as_index=False)["imdb_id"].count()

answers['21'] = data2[data2["imdb_id"] == data2["imdb_id"].max()]
answers['21']

   month  imdb_id
11     9      227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
data2 = data.copy()
  
data2 = data2.groupby("month", as_index=False)["imdb_id"].count()

data2 = data2[data2["month"].isin(["6", "7", "8"])]

answers['22'] = data2["imdb_id"].sum()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
data2 = data.copy()

data2["director"] = data2["director"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("director")

data2 = data2.loc[data2["month"].isin(["12","1","2"])]
answers['23'] = data2["director"].value_counts()
answers['23']

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Martin Scorsese      4
                    ..
Steve Pink           1
Jake Kasdan          1
Stefen Fangmeier     1
Tommy Wirkola        1
Brian Robbins        1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
data2 = data.copy()

data2["production_companies"] = data2["production_companies"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("production_companies")

data2["title_len"] = data2["original_title"].apply(lambda x: len(x))
data2 = data2.groupby("production_companies", as_index=False)["title_len"].mean()

answers['24'] = data2.sort_values("title_len")
answers['24']

            production_companies  title_len
624   Global Entertainment Group        2.0
803           Ixtlan Productions        2.0
1748             XM2 Productions        2.0
169         Berlanti Productions        3.0
512        Everest Entertainment        3.0
...                          ...        ...
1258                Polsky Films       46.0
1094   Museum Canada Productions       46.0
446                Dos Corazones       47.0
817      Jim Henson Company, The       59.0
583      Four By Two Productions       83.0

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
data2 = data.copy()

data2["production_companies"] = data2["production_companies"].apply(lambda x: str(x).split("|"))
data2 = data2.explode("production_companies")

data2["overview_num_words"] = data2["overview"].apply(lambda x: len(str(x).split(" ")))
data2 = data2.groupby("production_companies", as_index=False)["overview_num_words"].mean()

answers['25'] = data2.sort_values("overview_num_words")
answers['25']

                       production_companies  overview_num_words
1079  Motion Picture Corporation of America                11.0
492                         Empire Pictures                11.0
694                              Henceforth                13.0
1234                           Phantom Four                13.0
934                        London Boulevard                13.0
...                                     ...                 ...
231        Brookwell-McNamara Entertainment               156.0
22                       98 MPH Productions               159.0
691          Heineken Branded Entertainment               161.0
1355                   Room 9 Entertainment               161.0
1041                  Midnight Picture Show               175.0

[1771 rows x 2 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
data2 = data.copy()

q99 = data2["vote_average"].quantile(0.99)
data2 = data2[data2["vote_average"] > q99]

answers['26'] = data2["original_title"]
answers['26']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

Ужасное решение

In [ ]:
# тут было ужасное решение, но это очень стыдно

И не такое ужасное решение...

In [ ]:
data2 = data.copy()

import itertools as it

data2["cast"] = data2["cast"].apply(lambda x: str(x).split("|"))

data2["actor_pair"] = data2["cast"].apply(lambda s: list(it.combinations(s, 2)))
data2 = data2.explode("actor_pair")

answers['27'] = data2.groupby("actor_pair", as_index=False)["imdb_id"].count().sort_values("imdb_id")
answers['27'].tail(10)

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)